.app {
  height: 50vh; /* hela skärmen */
  display: flex;
  flex-direction: column;
   background: #222;
     color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr; /* vänster:smal, höger:större */
  height: 10vh; /* valfritt, fyller hela höjden */
}
.playlist {
  padding: 1rem;
}

.player {
  padding: 1rem;
}
